/* for build only */
.red-b {

}

/* essential overrides */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "kepler-std-extended-display";
}

/* top bar naviagation */
.top-bar{
  display:block;
  height: 40px;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: #fff;
}

.left-top{
  display: flex;
  position: absolute;
  left: 40px;
  width: 80px;
  height: 40px;
  margin:auto;
}

.right-top{
  display: flex;
  position: absolute;
  right: 40px;
  width: 80px;
  height: 40px;
}

.right-top a {
    position: relative;
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.right-top a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    fill: #000;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* side bar naviagation */

.active-side-nav{
  top: 26%;
  position: fixed;
  right: 54px;
  width: 122px;
  line-height: 1.5;
}

.lower-side-nav{
  top: 67%;
  position: fixed;
  right: 54px;
  width: 122px;
  line-height: 2;
  font-size: 18px;
}

.menu-container{
  list-style: none;
}

.menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.activeItem {
  color: #aaa;
}

/* ----- main content wrap and container  ----- */
.main-wrap{
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 1440px;
}

.content-container {
  width: 85%;
  max-width: 85%;
  margin: 40px 0;
}

.content-container:first-child {
    margin: 0;
}

/*  ----- main content tags ----- */

    /* --- Photo Layout ---*/
      /* images */
        .img {
          max-width: 100%;
          height: auto;
          margin: 2em 0 0;
        }

    /* --- All Text Layout ---*/
        /* all text container */
          .all-text-layout {
            max-width: 260px;
            margin: 0 auto;
          }

        /* writeUp copy */
        .all-text-text {
          margin: 40px auto;
          display: block;
        }

        .about-breakout:first-of-type{}

        .line-1-name{}

        .line-2-name{}

        .line-3-name{}

        .line-4-name{
          margin-bottom: 1.5em;
        }

        .about-breakout{}

        .line-1{}

        .line-2{}

        .line-3{}

        .line-4{
          margin-bottom: 1.5em;
        }

    /* --- Mixed Layout --- */
        /* first two item container */
          .mixed-layout-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 40px auto 0;
          }

          .item1 {
            width: 60%;
          }
