/* for build only */
.red-b {
  border: red 2px solid;
}

/* essential overrides */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* top bar naviagation */
.top-bar{
  display:block;
  height: 40px;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: #fff;
}

.secondary-nav{
  display: flex;
  position: absolute;
  right: 40px;
  width: 80px;
  height: 40px;
}

.secondary-nav a {
    position: relative;
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.secondary-nav a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    fill: #000;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* side bar naviagation */
.side-nav{
  position: fixed;
  top: 50%;
  right: 54px;
  width: 54px;
}

/* main content wrap and container */
.main-wrap{
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 1440px;
}

.content-container {
  width: 85%;
  max-width: 85%;
  margin: 20px 0;
}

/* main content tags */
.img {
  max-width: 100%;
  height: auto;
}
