/* essential overrides */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "freight-text-pro", comic-sans;
    font-size: 14px;
}

em {
  font-style: italic;
}

/* background texture */
body{
  background-color: #fbfbfb;
  position: relative;
}

/* top bar naviagation */
.top-bar{
  display:block;
  height: 6vh;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: #fbfbfb;
}

.left-top{
  display: flex;
  position: absolute;
  left: 40px;
  width: 80px;
  height: 40px;
  margin:auto;
}

.secret-menu{
  display: none;
}

.right-top{
  display: flex;
  position: absolute;
  right: 40px;
  width: 80px;
  height: 40px;
}

.right-top a {
    position: relative;
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.right-top a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    fill: #000;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* bottom bar */
.bottom-bar{
  display:block;
  height: 6vh;
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0px;
  background-color: #fbfbfb;
}

/* side bar naviagation */

.active-side-nav{
  top: 26%;
  line-height: 1.5;
}

.lower-side-nav{
  top: 67%;
  line-height: 2;
  font-size: 14px;
}

.menu-container{
  list-style: none;
  position: fixed;
  right: 5.5vw;
  width: 130px;
}

.menu-item{
  font-size: 14px;
}
.menu-item:hover {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.activeItem {
  color: #aaa;
}

/* ----- main content wrap and container  ----- */
.main-wrap{
  margin: 0 auto;
  width: calc(100% - 100px);
  max-width: 1440px;
}

.content-container {
  width: 85%;
  max-width: 85%;
  margin: 6vh 0;
}

.content-container:first-child {
    margin: 0;
}

/*  ----- main content tags ----- */

    /* --- Photo Layout ---*/
      /* images */
        .img {
          max-width: 100%;
          height: auto;
          margin: 2em 0 0;
        }

    /* --- All Text Layout ---*/
        /* all text container */
          .all-text-layout {
            max-width: 260px;
            margin: 0 auto;
          }

        /* writeUp copy */
        .all-text-text {
          margin: 6vh auto;
          display: block;
        }

        .about-breakout:first-of-type{}

        .line-1-name{}

        .line-2-name{}

        .line-3-name{}

        .line-4-name{
          margin-bottom: 1.5em;
        }

        .about-breakout{}

        .line-1{}

        .line-2{}

        .line-3{}

        .line-4{
          margin-bottom: 1.5em;
        }

    /* --- Mixed Layout --- */
        /* first two item container */
          .mixed-layout-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 6vh auto 0;
          }

          .mixed-copy{
              max-width: 300px;
          }

          .mixed-copy span{
            display: block;
            margin-bottom: 1.5em;
          }

          .mixed-item{}

          .embed-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
          }
          .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
          	top: 0;
          	left: 0;
          	width: 100%;
          	height: 100%;
          }
          .item1 {
            width: 60%;
          }

/* views for mobile (under 1144px) */
@media screen and (max-width: 1144px){

  /* change content fill the screen*/
  .content-container {
    width: 100%;
    max-width: 100%;
  }

  /* move navs to right of screen*/
  .menu-container{
    right: -240px;
  }

  /* show secret-menu */
  .secret-menu {
      display: block;
      position: absolute;
      top: 18px;
      right: 13px;
      height: 27px;
      width: 27px;
      cursor: pointer;
      z-index: 9;
      transition: all 1s cubic-bezier(.19,1,.22,1);
  }

  .secret-menu .line {
      position: absolute;
      display: block;
      background: #191919;
      width: 18px;
      height: 2px;
      left: 0;
      transition: all .6s cubic-bezier(.5,.1,0,1.2);
  }

  .secret-menu .line.line-1 {
      top: 0;
  }

  .secret-menu .line.line-2 {
      top: 7px;
      width: 14px;
      transform: translateX(2px);
      -webkit-transform: translateX(2px);
  }

  .secret-menu .line.line-3 {
      top: 14px;
  }
  .secret-menu:hover{
    cursor: pointer;
  }
  .activeMenu .line-1 {
    width: 22px;
    -webkit-transform: translateX(-11px) rotate(-45deg) translateY(12px);
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }
  .activeMenu .line-2{
    opacity: 0;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  .activeMenu .line-3 {
    width: 22px;
    -webkit-transform: translateX(-8px) rotate(45deg) translateY(-8px);
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }

}
/* switch back to normal view */
@media screen and (min-width: 1145px){

  /* change content fill the screen*/
  .content-container {
    width: 85%;
    max-width: 85%;
    margin: 6vh 0;
  }

  /* move navs to right of screen*/
  .menu-container{
    right: 5.5vw!important;
  }

  body{
    left: 0!important;
  }

  /* show secret-menu */
  .secret-menu{
    display: none
}
